/target
/target/*
/src/test
/src/test/*
/.idea
/.idea/*
/.classpath

./target
./target/*
./target/m2e-wtp
./target/m2e-wtp/*
./target/classes
./target/classes/*test-classes
./target/test-classes
./target/test-classes/*
./src/test
./src/test/*