/*
 * less.css
 */
@background: #231815;
@color: blue;
@font: 14px;
@mainWidth: 1100px;
@itemBoxColor: #505050;
@itemBoxPColor: #727171;
@inputBackground:#f1f1f1;
@inputColor:#8A8A8A;


/* 轮播图开始 */
.main_visual {
	margin: 0 auto;
	width: 1100px;
}
.main_image {
	margin: 0px auto; 
	width: 100%; 
	height: 360px; 
	overflow: hidden; 
	// border-top-color: rgb(215, 215, 215); 
	// border-top-width: 1px; 
	// border-top-style: solid; 
	position: relative;
}
.main_image ul {
	left: 0px; 
	top: 0px;
	width: 9999px; 
	overflow: hidden; 
	position: absolute;
}
.main_image li {
	width: 100%; 
	float: left;
}
.main_image li a {
	width: 100%; 
	display: block;
}
.main_image li a img {
	width: 100%;
	height: 360px;
}
div.flicking_con {
	// position:absolute;
	// left:50%;
	// margin-left:-52px;
	// min-width: 104px;
}
div.flicking_con .flicking_inner {
	// left: 10px; 
	// top: 500px; 
	// width: 300px; 
	// height: 21px; 
	// position: absolute; 
	// z-index: 20;
	// text-indent:-9999px;
	height: 82px;
  overflow: hidden;
}
div.flicking_con a {
	// width: 10px;
	// height: 10px;
	// border-radius:5px;
	// background:#fff;
	// float:left; 
	// margin: 2px 5px;
	display: inline-block;
	width: 311px;
	height: 82px;
	text-align: center;
	margin: 0 26px;

	position: relative;
	h5 {
		color: #5e5e5e;
		font-size: 16px;
		padding-top: 24px;
	}
	p {
		color: #8c8c8c;
		font-size: 12px;
		line-height: 26px;
	}
	i {
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 1px;
		background: #5E5E5E;
		border: 1px solid #B9B9B9;
		border-left: 0px;
		border-right: 0px;
	}

}
div.flicking_con a.on {
	// background:#FFC800;
	// background-position: 0px -21px;
	i {
		height: 3px;
		background: #5E5E5E;
		border: 1px solid #B9B9B9;
		border-left: 0px;
		border-right: 0px;
	}
	.selected {
		position: absolute;
		top: -14px;
		left: 133px;
		width: 27px;
		height: 14px;
		overflow: hidden;
		z-index: 9;
		background: url(../images_mdh/icon/scroll_ico.png)
	}
}
#btn_prev, #btn_next {
	// width: 50px !important;
	// height: 100px !important;
	// opacity:0.6;
	// filter:alpha(opacity=60);
	// position:absolute;
	// top:50%;
	// margin-top:-50px;
	// display: none;
	// z-index: 111;
	display: none;
}
#btn_prev {
	background:#000 url(../images_mdh/icon/left.png) no-repeat center center;
	left:20px;
}
#btn_next {
	background: #000 url(../images_mdh/icon/right.png) no-repeat center center;
	left:1030px;
}

/* 正文内容开始 */
.main{
	width: 1100px;
	height: 200px;
	margin: 35px auto 0px;
}
.main ul li:first-child{
	margin-left: 20px;
}
.main ul li.right{
	float: right;
}
/* 新品上架开始 */
.news{
	width: 1100px;
	margin:0 auto;
}
.mian-h2{
	width: 1100px;
	height: 75px;
	font-size: 18px;
	line-height: 75px;
	color:#505050;
	text-align: center;
}
.mian-h2 span{
	float:right;
}
.mian-h2 span a{
	font-size: 12px;
	line-height: 75px;
	display: block;
	height: 75px;
}
.news ul li{
	float:left;
	width: 265px;
	margin-right: 13.33px;
	display: inline;
}
.news ul li:last-child{
	margin-right: 0;
}
.news ul li a{
	text-align: center;
}
.news ul li .about{
	width: 245px;
	padding:20px 10px;
}
.news ul li .about h3{
	width: 245px;
	text-align: left;
	font-size: 14px;
	line-height: 30px;
	color:#7A7979;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news ul li .about p{
	font-size: 12px;
	text-align: left;
	color:#7A7979;
	line-height: 20px;
	width: 245px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news ul li .about span{
	font-size: 22px;
	color:#EB9B42;
	line-height: 30px;
	font-weight: normal;
}
.news ul li .about p.last{
	color:#B6B6B6;
	font-size: 12px;

}
.news ul li .about p.last a{
	float: right;
	margin:0 10px;
}
/* 图片区域2开始 */
.main1{
	width: 1100px;
	margin:20px auto 0px;
}
.main1 ul li.big{
	float: left;
	margin-right: 18px;
}
.main1 ul li a {
	font-size: 0px;
	display: block;
}
.main1 ul li:last-child{
	margin-top: 18px;
}
.main1 ol{
	margin-top: 18px;
}
.main1 ol li{
	float: left;
}
.main1 ol li:last-child{
	float: right;
}
/* 人气商品开始 */
.moods{
	width: 1100px;
	margin:0 auto;
}
.moods ul li{
	float: left;
	margin-right: 13.3px;
	margin-bottom:16px;
	position:relative;
}
.moods ul li .top{
	position:absolute;
	top:0;
	left:0;
	width: 225px;
	height: 200px;
	padding:50px 20px 20px 20px;
	display: none;

}
.moods ul li .top .intop{
	position:absolute;
	background: #000;
	opacity:0.6;
	filter:alpha(opacity=60);
	top:0;
	left:0;
	width: 265px;
	height:270px;
	z-index:0;
}
.moods ul li .top h3{
	font-size: 18px;
	color:#EDEDED;
	text-align: center;
	padding-top: 38px;
	line-height: 40px;
	z-index: 5;
	position: relative;
}
.moods ul li .top p{
	font-size: 14px;
	line-height: 20px;
	color:#EDEDED;
	z-index: 5;
	position:relative;
}
.moods ul li .top .collect{
	position:absolute;
	bottom:15px;
	right:5px;
	width: 80px;
	z-index: 5;
}
.moods ul li .top .collect button {
	margin: 0px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fff url(../images_mdh/icon/index-top.png) no-repeat center center;
}
.moods ul li .top .collect button.last{
	background: #fff url(../images_mdh/icon/top2.png) no-repeat center center;
	margin-left: 0px;
}
.moods ul li p{
	font-size: 14px;
	color:#505050;
	line-height: 30px;
	padding-left: 5px;
}
.moods ul li p span{
	font-size: 18px;
	color:#1e1e1e;
	float:right;
	padding-right: 25px;
}
.moods button{
	background: url(../images_mdh/icon/moods.png) no-repeat center center;
	width: 22px;
	height: 15px;
	margin:50px auto;
	display: block;
	cursor:pointer;
}


/* 登录页面开始 */
/* #header.landing{
	width:100%;
	height: 95px;
	background: #ffc900;
} */
body.login-body {
	background: #e6e6e6;
}
div.landing{
	margin:0 auto;
	width: 346px;
	text-align: center;
}
div.landing h1{
	background: url(../images_mdh/logo.png) no-repeat center center;
	width: 346px;
	height: 28px;
	margin:133px 0 80px 0;
	display: inline-block;
}
div.landing>span{
	font-size: 18px;
	line-height:80px;
	color:#9FA0A0;
}
div.landing form{
	width: 300px;
	margin:0 auto;
	font-size:@font;
	color:#808080;
	position:relative;
}
div.landing input.tet{
	width:285px;
	height: 43px;
	font-size: @font;
	color:#808080;
	padding-left:15px;
	line-height: 43px;; 
	margin-top: 35px;
	background: #fff;
	border:1px solid #ACACAC;
}
div.landing .inlanding{
	width: 300px;
	height: 35px;
	margin-top:35px;
}
div.landing .inlanding span{
	display: inline-block;
	width: 85px;
	height: 30px;
	border:1px solid #cfd0d0;
	float: right;
}
div.landing .inlanding input{
	border:1px solid #ccc;
	padding-left:15px;
	height:43px;
	font-size: @font;
	color:#808080;
	line-height:43px;
	width:134px;
	float:left;
	border:1px solid #ACACAC;
}
div.landing .inlanding img {
	height: 30px;
	display: inline-block;
	cursor: pointer;
}
div.landing button.new{
	line-height: 30px;
	border:none;
	background:none;
	margin-left:258px;
	font-size:@font;
	color:#9FA0A0;
}
div.landing button.new:hover {
	color: #f5a623;
}
div.landing button.landings{
	width: 300px;
	height: 45px;
	background:  #444;
	text-align:center;
	line-height: 45px;
	font-size:18px;
	color:#fff;
	margin-top:20px;
}
div.landing p.pass{
	width: 300px;
	line-height: 30px;
	margin:10px 0;
	text-align: left;
}
div.landing p.pass label{
	color:#444;
}
div.landing p.pass input{
	float: left;
	margin: 9px 5px 0 0;
}
div.landing p.pass a{
	float:right;
}
div.landing p.pass a.last{
	color: #444;
}
div.landing .other{
	width: 300px;
	border-bottom:1px solid #666;
	margin:0 auto;
}
div.landing .other a {
	text-indent: -9999px;
	width: 60px;
	height: 30px;
	margin:0 auto;
	margin-top:57px;
	background:#fff url(../images_mdh/icon/weixin.png) no-repeat center center;
	position:relative;
	top:15px;
	display: inline-block;
}
div.landing .other a:hover{
	background:#fff url(../images_mdh/icon/weixin1.png) no-repeat center center;
}
div.landing p{
	text-align: center;
	margin:20px auto;
	font-size:@font;
	color:#6e6e6e;
}
.login .username,
.login .password,
.login .inlanding {
	position: relative;
	text-align: left;
}
.login .username label,
.login .password label,
.login .inlanding label {
	position: absolute;
	top: 88px;
	left: 0px;
	line-height: 20px;
	color: #ae340d;
	display: inline-block;
	font-size: 14px;
	background: url(../images_mdh/icon/error.png) no-repeat;
	padding-left: 25px;
	vertical-align: middle;
}
.login .inlanding label {
	top: 50px;
}

/* 注册页面开始 */ 
div.landing .form {
    width: 300px;
    margin: 0 auto;
    font-size: 14px;
    color: #808080;
    position: relative;
}
div.landing .register input.tet{
	margin-top:30px;
}
.form .code{
	.tet{
		width: 185px;
		height: 45px;  
		margin-right: 12px;
		border:none;
		background: #f1f1f1;
	}
	.register{
		width: 88px;
		height: 45px;
		margin-top:30px;
		color:#808080;
		background: #c4c4c4;
	}
	span{
		width: 88px;
		display: inline-block;
		line-height: 15px;
		font-size: 12px;
		color:#444;
		text-align: center;
	}
}
div.landing #registerForm input.tet {
	margin-top: 30px;
}
.form p.register{
	text-align: left;
	margin:30px 0 20px;
	line-height: 0;
	cursor: pointer;
}
.form p.register a {
	display: inline-block;
	line-height: 12px;
	padding-left: 5px;
}
.form .registered{
	width: 300px;
	height: 45px;
	background:  #444;
	text-align:center;
	line-height: 45px;
	font-size:18px;
	color:#fff;
}
.form p.last{
	font-size:@font;
	color:#444;
	line-height: 30px;
	text-align: left;
}
.form p.last a{
	color:#804736;
	cursor:pointer;
}
.form p.last a.email{
	float: right;
	font-size:@font;
	color:#444;
}
.form .register-fix{
	width: 100px;
	position:absolute;
	top:190px;
	right:-110px;
}
.form .register-infix{
	width: 90px;
	padding:2px;
	border:1px solid #9FA0A0;
}
.form .register-infix span{
	float: left;
	width: 30px;
	height: 10px;
	background: #ffc900;
	visibility: hidden;
	
}
.form .register-infix span.two{
	background: #ff4800;
}
.form .register-infix span.three{
	background: #444444;
}
.form .register-fix p{
	font-size:12px;
	color:#444444;
	letter-spacing: 17px;
	text-align: center;
	margin:5px 0;
	padding-left: 13px;
}

.form  {
	text-align: left;
}
.form .username,
.form .password,
.form .re-password,
.form .agreement,
.form .code {
	position: relative;
}
.form .username label,
.form .password label,
.form .re-password label,
.form .agreement label,
.form .code label {
	position: absolute;
	top: 80px;
	left: 0px;
	line-height: 20px;
	color: #ae340d;
  display: inline-block;
  font-size: 14px;
	background: url(../images_mdh/icon/error.png) no-repeat;
 	padding-left: 25px;
}
.form .agreement label {
	top: 13px;
}


#registerForm .clickBackground {
	background: #ffc900;
	color: #FFF;
}

/** item */
.item-main {
	width: @mainWidth;
	margin: 0 auto;
	.item-main-detail {
		width: 100%;
		p{
			font-size: @font;
			color:#727171;
			line-height: 70px;
			b{
				font-weight:normal;
			}
		}
		.item-left {
			width: 122px;
			margin-right: 15px;
		}
		.item-middle {
			width: 533px;
			margin-right: 27px;
		}
		.item-right {
			width: 403px;
		}
	}
	.item-main-grid {
		.item-left {
			width: 122px;
			margin-right: 15px;
		}
		.item-middle {
			width: 533px;
			margin-right: 430px;
			margin-left: 137px;
		}
		.item-right {
			width: 403px;
		}
	}
}

.item-main-detail .item-left li {
	margin-top: 15px;
	width: 120px;
	height: 120px;
	overflow: hidden;
	padding: 1px;
	img {
		width: 122px;
		height: 122px;
	}
}
.item-main-detail .item-left .tb-selected {
	padding: 0px;
	border: 1px solid red;
}

.item-main-detail .item-left li:first-child {
	margin-top: 0px;
}

.item-main-detail .item-middle .item-big {
	img {
		width: 533px;
		height: 533px;	
	}
}

.item-main-detail .item-right {
	.title {
		h2 {
			font-size: 20px;
			line-height: 44px;
			color: @itemBoxColor;
		}
		p {
			font-size: @font;
			color: @itemBoxColor;
		}
	}
	.price {
		h5 {
			font-size: 51.73px;
			color: #1e1e1e;
			span {
				font-size: 21.73px;
			}
		}
		p {
			font-size: @font;
			color: @itemBoxColor;
			span {
				text-decoration:line-through;
			}
		}
	}
	
}
.item-sku {
	.specification, .color, .amount, .share {
		margin-top: 24px;
		dt {
			float: left;
			width: 72px;
			line-height: 27px;
			font-size: @font;
			color: @itemBoxColor;
		}
		dd {
			float: left;
		}
	}
	.specification  {
		dl {
			margin-top: 20px;
		}
		dd {	
			margin-right: 10px;
			display: inline-block;
			a {
				padding: 5px 10px;
				display: block;
				background: #CFCFCF;
				border: 1px solid #b8b7bd;
				text-align: center;
				// span {
				// 	font-size: @font;
				// 	line-height: 27px;
				// 	display: block;
				// 	text-align: center;
				// }

			}
			a:hover {
					color: #FFF;
				}
			
		}
	}
	
	.amount {
		font-size: 0px;
		a {
			background: #CFCFCF;
			display: inline-block;
			width: 27px;
			height: 27px;
			line-height: 27px;
			color: @itemBoxColor;
			font-size: @font;
			text-align: center;
			vertical-align: top;
		}
		input {
			display: inline-block;
			width: 27px;
			height: 27px;
			font-size: @font;
			text-align: center;
			background: #f0f0f0;
			line-height: 27px;
			border: 0px;
			padding: 0px;
			margin-top: 0px;
		}
	}
	.share{
		span{
			width: 25px;
			height: 25px;
			text-indent: -9999px;
			display:inline-block;
			background: url(../images_mdh/icon/item-share.png) no-repeat center center;
		}
	}
	.button {
		font-size: 0px;
		margin-top: 15px;
		position: relative;
		button {
			border: 1px solid #7F7F7F;
			margin: 0px;
			width: 180px;
			height: 52px;
			padding: 0px;
			text-align: center;
			line-height: 52px;
			font-size: 18px;

		}
		.add {
			background: #444;
			color: #FFF;
			margin-right: 12px;
		}
		.submit {
			background: #FFF;
			color: #444;
		}
	}
	.sku-p {
		margin-top: 24px;
		font-size: @font;
		color: @itemBoxColor;
	}
}
.item-sku dl a.selected {
	  border: 2px solid #be0106;
	  position: relative;
    margin: -1px;
    i {
		    position: absolute;
		    bottom: 0;
		    right: 0;
		    width: 12px;
		    height: 12px;
		    overflow: hidden;
		    text-indent: -99em;
		    display: block;
		    background-repeat: no-repeat;
		    background-position: -62px -16px;
		    background-image: url(../images_mdh/icon/TB1LBaOHFXXXXaMXFXXBJc1_FXX-114-30.png);
		}
}

.item-main-grid .item-middle {
	position: relative;
	.item-box {
		h3 {
			margin-top: 36px;
			margin-bottom: 22px;
			width: 220px;
			background: #CFCFCF;
			text-align: center;
			border: 1px solid #DEDEDE;
			font-size: 18px;
			line-height: 40px;
			color: @itemBoxColor;
		}
		p {
			color: @itemBoxPColor;
			font-size: @font;
			line-height: 20px;
		}
		img{
			margin:20px 0;
		}
	}
}
/**
 * 放大镜使用的css
 */

.jqzoom {
	border:none;
	position:relative;
	padding:0px;
	cursor:pointer;
	margin:0px;
	display:block;
}
.zoomdiv {
	z-index:90;
	position:absolute;
	top:0px;
	left:0px;
	width:350px;
	height:350px;
	background:#ffffff;
	border:1px solid #CCCCCC;
	display:none;
	text-align:center;
	overflow:hidden;
}
.jqZoomPup {
	z-index:10;
	visibility:hidden;
	position:absolute;
	top:0px;
	left:0px;
	width:20px;
	height:20px;
	border:1px solid #aaa;
	background:#ffffff;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity=50);
}

/* 列表页开始 */
.list-content{
	width: 1100px;
	margin:15px auto;
	padding-top:50px;
}
.nav{
	width: 242px;
	cursor:pointer;
	h2{
		font-size: 16px;
		color:#505050;
		margin-bottom:35px;
		padding-left:33px;
	}
}
.list-nav{
	width:242px;
	font-size: 16px;
	color:#505050;
	padding-left:33px;
	position:relative; 
}
.list-nav li{
	background: url(../images_mdh/icon/list.png) no-repeat 160px 8px;
}
.nav .brand{
	font-size: 16px;
	color:#505050;
	padding-left:33px;
	cursor:pointer;
	h3{
		font-size: 16px;
		color:#505050;
		margin:20px 0 40px 0;
	}
	a{
		display: block;
		margin-bottom:20px;
	}
}
/* .list-twoCategory{
	display: none;
	width: 870px;
	position:absolute;
	top:-15px;
	right:-780px;
	background:#fff;
	padding:30px;
	border:1px solid #ccc;
	text-align: left;
	z-index: 9999;
}
.list-twoCategory ul{
	border-bottom:3px solid #c0c1c1;
	width: 520px;
	height: 40px;
}
.list-twoCategory ul li{
	float: left;
	height:20px;
	text-align: center;
	font-size: 16px;
	color:#595757;
	padding:10px 20px;
}
.list-twoCategory ul li.current{
	border-bottom:3px solid #ffc900;
}
.list-twoCategory p{
	padding-left:10px;
	text-align: left;
}
.list-twoCategory img{
	margin-right:15px;
}
.list-twoCategory p a{
	font-size: 14px;
	color:#595757;
	margin:0 5px;
	line-height: 50px;
}
.list-twoCategory p a:hover{
	color: #ffc900;
} */
.nav .brand .category{
	margin:40px 0;
}
.list-nav li{
	padding-bottom: 20px;
	cursor:pointer;
}
.content{
	width: 825px;

}
.content .moods{
	width: 825px;
	h3{
		width: 825px;
		text-align:left;
		margin:0;
	}
	li{
		padding-right:15px;
		margin-right:0;
	}
	.nth-child-three{
		padding-right:0px;
	}
}
.list-images li{
	float: left;
}
.list-images .right{
	margin-right:11px;
}
.list-images .top{
	margin-bottom:11px;
}


/* 商品列表页开始 */
.goods-nav{
	width: 1100px;
	margin: 0px auto 0px;
	padding-top: 12px;
	padding-bottom: 8px;
}
.goods-left{
	width: 800px;
	float:left;
}
.goods-nav h2{
	font-size: 18px;
	color:#505050;
	display: inline;
	margin-right:30px;
}
.goods-nav a:hover,{
	color:#ffc900;
}
.goods-nav a{
	font-size:14px;
	color:#727171;
	margin-right: 12px;
	cursor:pointer;
}
.goods-nav a.default {
	margin-right: 20px;
}
.goods-nav a i {
	padding-right:15px;
	background:url(../images_mdh/icon/goods-1.png) no-repeat right center;
}
.goods-nav a.selected i {
	padding-right:15px;
	background:url(../images_mdh/icon/goods-bottom.png) no-repeat right center;
}

.goods-key {
	width: 100px;
	display:block;
	float:right;
	padding-top:10px;
}
.goods-key a.lf,.goods-key a.rg, .goods-key a.previousPage, .goods-key a.nextPage{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin:0 5px;
	background: url(../images_mdh/icon/goods-up.png) no-repeat center center;
}
.goods-key a.rg, .goods-key a.nextPage{
	background: url(../images_mdh/icon/goods-down.png) no-repeat center center;
}
.number{
	text-align: right;
	width: 1100px;
	margin:60px auto;
	color:#727171;
}
.number a{
	font-size: 14px;
	color:#727171;
	margin:0 8px;
}
.number a:hover{
	color: #ffc900;
}
.number a.page{
	margin-left:20px;
}
.number a.next{
	margin-right:20px;
}
.number input{
	width: 50px;
	height: 20px;
	border:1px solid #ccc;
	margin:0 5px;
}
.number button{
	color:#727171;
	text-align: center;
	padding:2px 0 2px 10px;
	background: #cfcfcf;
	margin-left: 30px;
	letter-spacing: 10px;
}
/* 邮箱验证开始 */
body.emailverification {
	background: #e6e6e6;
}
.validation{
	width: 1100px;
	margin:0 auto;
	h1{
		width: 345px;
		height:30px;
		padding:120px 0px;
		margin: 0 auto;
		background: url(../images_mdh/logo.png) no-repeat center center;
	}
	.validation-nav{
		width: 1100px;
		text-align:center;
		margin-bottom:100px;
		a{
			padding:0 20px;
			border-right:1px solid #444444;
			font-size:18px;
			color:#444444;
			&:hover{color:#ffc900}
		}
		a.last{border-right:none;}
	}
	.validationForm{
		width:800px;
		margin:0 auto;
		.text{
			position:relative;
			margin-bottom:55px;
			// input{
			// 	width:800px;
			// 	border-bottom:2px solid #bfbfbf;
			// 	font-size:18px;
			// 	color:#444444;
			// }
			span {
				width:800px;
				border-bottom:2px solid #bfbfbf;
				font-size:18px;
				color:#444444;
				display: block;
			}
			a{
				font-size:15px;
				line-height: 30px;
				color:#844736;
				position:absolute;
				right:0;
				bottom:30px;
			}
			p{
				font-size: 18px;
				color:#9b9c9c;
				line-height: 30px;
			}
		}
		.email{
			width: 400px;
			height:205px;
			border:1px solid #bfbfbf;
			text-align:center;
			position: absolute;
			display: none;
			z-index: 99999;
			background: #e6e6e6;
			span{
				width: 100%;
				height: 40px;
				display: block;
				background: #444444;
				margin-bottom: 16px;
				position:relative;
				strong{
					font-size: 20px;
					color:#fff;
					position:absolute;
					right:20px;
					top:50%;
					margin-top:-16px;
					font-weight: normal;
					cursor: pointer;
				}
			}
			input{
				width: 270px;
				height:45px;
				background:@inputBackground;
				padding-left:10px;
				margin:0 auto;
				line-height: 45px;
				color:@inputColor;
			}
			p.error {
				color: red;
				padding-left: 60px;
				line-height: 16px;
				height: 16px;
				text-align: left;
			}
			button{
				display: block;
				width: 280px;
				height: 45px;
				background: #444;
				font-size: 18px;
				color: #f5a623;
				margin: 2px auto 20px;
				letter-spacing: 11px;
			}
		}
	}
}
/* 找回密码开始 */
.retrieve{
	width: 1100px;
	margin: 100px auto;
	h1{
		margin:120px auto;
	}
	.retrieve-nav{
		text-align:center;
		p{
			display: inline-block;
			*display: inline;
			*zoom:1;
			width:100px;
			height: 75px;
			font-size: 20px;
			color:#fff;
			margin-left:-20px;
			line-height: 40px;
			text-align:center;
			background: url(../images_mdh/icon/password-2.png) no-repeat center top;
			span{
				display: block;
				font-size: 18px;
				color:#9fa0a0;
			}
		}
		p.one{
			background-image: url(../images_mdh/icon/password-1.png);
		}
		strong{
			width: 240px;
			height: 90px;
			display: inline-block;
			margin-left:-20px;
			background: url(../images_mdh/icon/password-3.png) no-repeat center center;
		}
	}
	.retrieveForm{
		text-align:center;
		margin-top:100px;
		label{
			font-size: 14px;
			color:#828282;
			line-height: 45px;
		}
		input{
			width: 270px;
			height: 45px;
			margin-left:30px;
			padding-left:20px;
			font-size: 14px;
			background:@inputBackground;
			line-height: 45px;
			color:@inputColor;
		}
		.code{
			width: 360px;
			height:45px;
			margin:13px auto 11px;
			text-align:left;
			label{
				float: left;
			}
			input{
				width: 160px;
				float: left;
			}
			.codeImg{
				width: 90px;
				height: 30px;
				text-align:center;
				margin-left:15px;
				display: inline-block;
				float: right;
				background:#c4c4c4;
				img {
					width: 90px;
					height: 30px;
					display:block;
					// background:#c8c8c8 url(../images_mdh/icon/code.png) no-repeat center center;
				}
				a{
					font-size: 12px;
					color:#444;
				}
			}
		}
		.error {
			width: 370px;
			margin: 0 auto;
			text-align: left;
			font-size: 0px;
			i {
				margin-left: 78px;
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url('../images_mdh/icon/error.png') no-repeat;
				vertical-align: middle;
			}
			span {
				font-size: 14px;
				color: #b2340d;
				vertical-align: middle;
				display: inline-block;
				padding-left: 5px;
				line-height: 20px;
			}
		}
		button.submit {
			width: 290px;
			height: 45px;
			font-size: 18px;
			color:#f5a623;
			margin: 11px 0 0 78px; 
			background: #444;
			line-height: 45px;
			letter-spacing: 10px;
		}
		.code {
			.phone-submit {
				line-height: 45px;
				height: 45px;
				width: 108px;
				background: #f5a623;
				color: #444;
				text-align: center;
				font-size: 14px;
			}
			.clickBackground {
				background: #ffc900;
				color: #FFF;
			}
		}
	}
	.reset {
		input{
			margin-left:0px;
			margin-bottom: 12px;
			padding-left:20px;
		}
		button.submit {
			margin: 11px 0px 0px;
		}
		.error i {
			margin-left: 40px;
		}
	}
	.popup-finish {
		width: 600px;
		margin: 0px auto;
		background: #e6e6e6;
		text-align: center;
		border: 1px solid #B1B1B1;
		padding: 80px 0px;
		position: absolute;
		display: none;
		z-index: 99999;
		h3 {
			font-size: 18px;
			color: #9fa0a0;
			padding-bottom: 60px;
		}
		a {
			width: 290px;
			height: 45px;
			font-size: 18px;
			color:#f5a623;
			margin: 0px auto;
			background: #444;
			line-height: 45px;
			display: inline-block;
		}
	}
}
/* 支付页开始 */
.pay{
	width: 1100px;
	margin:0 auto;
	.pay-order{
		width: 1000px;
		padding:50px 50px 20px 50px;
		margin-bottom:80px;
		p{
			font-size:@font;
			color:#828282;
			line-height: 50px;
		}
		strong{
			font-size:@font;
			color:#828282;
			line-height: 50px;
			font-weight: normal;
		}
		span{
			font-size:@font;
			color:#828282;
			line-height: 50px;
		}
		.order{
			margin-right:25px;
		}
		a{
			color:#844736;
		}
	}
	.message{
		width: 960px;
		margin:0 auto;
		background: #F3F3F3;
		padding:20px;
		font-size: @font;
		color: #828282;
	}
	.wechat{
		width:400px;
		text-align:center;
		margin:30px auto;
		position:relative;
		p{
			height: 42px;
			font-size: 18px;
			color:#444;
			text-align:center;
			line-height:42px;
		}
		img{
			display:block;
			margin:28px auto;
		}
		span{
			display: block;
			width: 120px;
			height: 36px;
			margin:20px auto;
			text-align:left;
			font-size: @font;
			color:#808080;
			padding-left:45px;
			background: url(../images_mdh/icon/wechat-1.png) no-repeat left center;
		}
		strong{
			position:absolute;
			top:0;
			right:0;
			width: 42px;
			height: 42px;
			font-size: 20px;
			color:#fff;
			font-weight:normal;
			line-height: 42px;
			text-align:center;
			cursor: pointer;
		}
		a{
			font-size: @font;
			color:#00a6eb;
		}
	}
		.settlement{
		width: 1000px;
		margin:0 auto;
		h5{
				font-size: 18px;
				color:#444444;
				line-height: 50px;
				a{
					font-size: @font;
					color:#828282;
					text-decoration: underline;
				}
			}
		.grey{
			background: url(../images_mdh/buy-1.png) no-repeat center top;
		}
		.first{
			margin-left:0;
		}
		li{
			width:142px;
			padding:25px;
			margin-left:10px;
			background: url(../images_mdh/buy.png) no-repeat center top;
			strong{
				display: block;
				font-size: 40px;
				color:#fff;
				text-align: center;
				line-height:60px;
				font-weight: normal; 
			}
			span{
				display: block;
				font-size: @font;
				color:#fff;
				line-height:25px;
			}
			em{
				display: block;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				border:1px solid #B4B4B4;
				margin:40px auto;
				cursor:pointer;
				.small{
					width: 10px;
					height: 10px;
					display:inline-block;
					*display: inline-block;
					*zoom:1;
					background: #f5a623;
					margin:3px;
					border:none;
				}
				.dn{display: none;}
			}
		}
		p{
			font-size: 18px;
			color:#444;
			text-align:center;
			line-height: 50px;
			span{
				font-size: 28px;
				color:#f5a623;
			}
		}
		.buy-pay{
			width:1000px;
			text-align: center;
			margin:0 auto;
			label{
				display: inline-block;
				font-size: 18px;
				color:#444;
				margin-right: 50px;
			}
			input{
				margin-right:30px;
			}
			img{
				display: inline-block;
				*display: inline-block;
				*zoom:1;
				margin:-30px 30px 0 0;
				vertical-align:-20px;
			}
			span{
				display: block;
				font-size: 18px;
				color:#444;
				text-align: center;
				margin:60px 0 30px 0;
			}
			.big{
				display: block;
				margin:0 auto;
			}
			p{
				width: 120px;
				margin:20px auto;
				background: url(../images_mdh/icon/wechat-1.png) no-repeat left center;
				padding-left:46px;
				font-size: @font;
				color:#828282;
				line-height: 20px;
			}
			button{
				width: 200px;
				height: 45px;
				margin:78px 0 78px 100px;
				font-size: 18px;
				text-align:center;
				color:#fff;
				background: #444;
			}
		}
	}
}
.wechat-refresh {
	text-align: center;
	position: fixed;
	width: 600px;
	padding: 20px;
	background: #F3F3F3;
	z-index: 999999999999;
	border: 1px solid #B1B1B1;
	display: none;
	h3 {
		font-size: 18px;
		color: #444;
	}
	p {
		font-size: 14px;
		color: #828282;
		margin: 105px 0px 85px;
	}
	a {
		display: inline-block;
		width: 190px;
		height: 42px;
		line-height: 42px;
		border: 1px solid #F4D6A6;
		font-size: 18px;
		color: #444;
		background: #f5a623;
		letter-spacing: 8px;
	}
}

/** 
 * 遮挡层
 */
.shielding-layer {
	display:none;
  width:100%;
  height:100%;
  background:#000;
  position:fixed;
  top:0;
  left:0;
  z-index:9999999999;
  opacity:0.3;
  filter:alpha(opacity=30);
}
.popup-layer {
	margin: 0 auto;
	border: 1px solid #B1B1B1;
	width: 399px;
	background: #F3F3F3;
	position: fixed;
	display: none;
	z-index: 99999999999;
	.title {
		width: 100%;
		height: 40px;
		background:#444;
		border-bottom: 1px solid #D2D2D2;
		text-align: center;
		span {
			line-height: 40px;
			font-size: 20px;
			color: #FFF;
			display: inline-block;
		}
		strong {
			font-size: 20px;
	    color: #fff;
	   	margin-right: 19px;
	   	margin-top: 5px;
	    font-weight: 400;
	    cursor: pointer;
		}
	}
	p{
		font-size: 16px;
		color:#727171;
		margin:35px 0 25px 0;
		text-align:center;
	}
	.context {
		margin:0 auto;
		width: 203px;
		height: 43px;
		background: #444;
		text-align: center;
		line-height: 43px;
		a{
			font-size: 18px;
			color:#fff;	
		}
	}
	.button {
		margin-bottom: 22px;
		text-align: center;
		a {
			display: inline-block;
			height: 42px;
			line-height: 42px;
			border: 1px solid #F4D6A6;
			font-size: 18px;
			color: #fff;
			background: #444;
			padding: 0px 46px;
		}
	}
}
/* 购买页开始 */
.buy{
	width: 1100px;
	margin:65px auto;
	.buyForm{
		padding-left:145px;
		margin-bottom:100px;
		div{
			margin-top:20px;
			font-size: 0px;
		}
		.title {
			display: none;
		}
		div.city {
			.provinciala{
				width: 100px;
				height: 45px;
				line-height: 45px;
				font-size: @font;
				padding-left:10px;
				margin-right: 10px;
				color:@inputColor;
				border:1px solid #CACACA;
			}
			.citya{
				width: 100px;
				height: 45px;
				line-height: 45px;
				font-size: @font;
				padding-left:10px;
				border:1px solid #CACACA;
				color:@inputColor;
			}
		}
		label{
			width: 80px;
			height: 45px;
			text-align: right;
			display: inline-block;
			margin-right: 10px;
			font-size: @font;
			color:@inputColor;
			line-height: 45px;
		}
		input{
			width: 310px;
			height: 45px;
			font-size: @font;
			padding-left:10px;
			line-height: 45px;
			color:@inputColor;
			border:1px solid #CACACA;
		}
		.isdefault {
			font-size: 0px;
			height: 20px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.isdefault {
			input {
				width: 15px;
    		height: 15px;
    		display: inline-block;
    		margin-left: 95px;
			}
			label{
				width: 80px;
		    height: 20px;
		    text-align: left;
		    display: inline-block;
		    margin-left: 5px;
		    font-size: @font;
				color:@inputColor;
		    line-height: 20px;
		    vertical-align: 3px;
			}
		}
		textarea {
			width: 310px;
			height: 90px;
			font-size: @font;
			padding-left:10px;
			line-height: 26px;
			color:@inputColor;
			vertical-align: middle;
			border:1px solid #CACACA;
		}
		button{
			width: 200px;
			height: 45px;
			background: #444444;
			font-size: 18px;
			color:#fff;
			margin-left: 95px;
		}
		.error {
			width: 370px;
			font-size: 0px;
			margin-top: 5px;
			i {
				margin-left: 92px;
				display: inline-block;
				width: 20px;
				height: 20px;
				background: url('../images_mdh/icon/error.png') no-repeat;
				vertical-align: middle;
			}
			span {
				font-size: 14px;
				color: #b2340d;
				vertical-align: middle;
				display: inline-block;
				padding-left: 5px;
				line-height: 20px;
			}
		}
	}
	.layer {
		position: fixed;
		z-index: 99999;
		border: 1px solid #B1B1B1;
		padding: 0px;
		div {
			margin: 0px 145px 20px;
		}
		.error {
			margin: 10px 145px 10px;
		}
		.mobile {
			margin-bottom: 0px;
		}
		.title {
			display: block;
			width: 100%;
			height: 40px;
			background:#444;
			border-bottom: 1px solid #D2D2D2;
			margin: 0px 0px 20px;
			span {
				line-height: 40px;
				font-size: 20px;
				color: #FFF;
				display: inline-block;
				padding-left: 32px;
			}
			strong {
				font-size: 20px;
		    color: #fff;
		   	margin-right: 19px;
		   	margin-top: 5px;
		    font-weight: 400;
		    cursor: pointer;
			}
		}
	}
	.buy-address{
		width:1000px;
		margin:0 auto;
		position: relative;
		h5{
			font-size: 18px;
			color:#444444;
			line-height: 50px;
			border-bottom: 1px solid #B2B2B2;
			a {
				line-height: 51px;
				font-size: 14px;
				display: inline-block;
				margin-right: 10px;
			}
		}
		button{
				width: 12px;
				height: 19px;
				border:none;
				background: url(../images_mdh/icon/buy-left.png) no-repeat center center;
				position:absolute;
				top:50%;
				left: 5px;
				margin-top: 20px;
				z-index: 999;
			}
			button.right{
				background: url(../images_mdh/icon/buy-right.png) no-repeat center center;
				left:985px;
				z-index: 999;
			}
		.scroll-address {
			width: 940px;
			height: 342px;
			overflow: hidden;
			margin:0 30px;
			position: relative;
		}
		ul{
			//position:relative;
			height: 342px;
			top:0px; 
			left:0px; 
			position:absolute; 
			
			li.selected {
				border: 1px solid #F5A623;
				.default {
					color: #ae340d;
				}
			}
			li{
				width: 260px;
				height: 250px;
				padding:20px;
				margin:50px 0 0 10px;
				border:1px solid #B2B2B2;
				position: relative;
				.information{
					font-size:@font;
					color:#828282;
					line-height: 30px;
					border-bottom:1px solid #B2B2B2;
				}
				strong{
					font-weight: normal;
					line-height: 40px;
					font-size: @font;
					color:#828282;
					display: block;
				}
				em{
					color:#828282;
					display: block;
					font-size: @font;
					margin-left:5px;
				}
				.about{
					position: absolute;
					bottom: 20px;
					left: 20px;
					a{
						color:#828282;
						font-size: @font;
					}
					a.last{
						text-indent: -9999px;
						display: inline-block;
						width: 15px;
						height: 17px;
						background: url(../images_mdh/icon/buy-delete.png) no-repeat center center;
					}
					.editor{
						margin:0 25px 0 110px;
					}
				}
			}
		}
		.new{
			text-align: center;
			a{
				display: inline-block;
				height: 30px;
				padding-left:30px;
				line-height: 30px;
				font-size: 20px;
				color:#828282;
				margin-top: 110px;
				background: url(../images_mdh/icon/buy.png) no-repeat center left;
				text-align: center;
			}
		}
	}
	.details{
		width: 1000px;
		margin:30px auto;
		h5{
			font-size: 18px;
			color:#444444;
			line-height: 50px;
			span{
				width: 55px;
				height: 50px;
				cursor:pointer;
				background: url(../images_mdh/icon/details.png) no-repeat center center;
			}
		}
		button{
			display: block;
			width: 30px;
			height: 30px;
			background: url(../images_mdh/icon/details.png) no-repeat center center;
			margin:-35px 20px 0 0;
		}
		ul{
			margin-top:10px;
			li.first{
				border-top:1px solid #b2b2b2;
			}
			li{
				height:100px;
				border:1px solid #b2b2b2;
				border-top:none;
				padding:15px;
				.goods{
					margin-left: 30px;
					h6{
						font-size: 16px;
						color:#828282;
						margin-bottom: 60px;
					}
					span{
						font-size: @font;
						color:#828282;
						border:1px solid #b2b2b2;
						padding:0 3px;
					}
				}
				p{
					strong{
						font-weight: normal;
						font-size: @font;
						color:#828282;
						line-height: 100px;
						margin-left:75px;
					}
				}
			}	
		}	
	}
	.note{
		width: 1000px;
		margin:30px auto;
		h5{
			font-size: 18px;
			color:#444444;
			line-height: 50px;
		}
		textarea{
			width: 960px;
			padding:20px;
			min-height: 5px;
			border:none;
			background: #e6e6e6;
		}
	}
	.settlement{
		width: 1000px;
		margin:0 auto;
		h5{
				font-size: 18px;
				color:#444444;
				line-height: 50px;
				a{
					font-size: @font;
					color:#828282;
					text-decoration: underline;
				}
			}
		.grey{
			background: url(../images_mdh/buy-1.png) no-repeat center top;
		}
		.first{
			margin-left:0;
		}
		li{
			width:142px;
			padding:25px;
			margin-left:10px;
			background: url(../images_mdh/buy.png) no-repeat center top;
			strong{
				display: block;
				font-size: 40px;
				color:#fff;
				text-align: center;
				line-height:60px;
				font-weight: normal; 
			}
			span{
				display: block;
				font-size: @font;
				color:#fff;
				line-height:25px;
			}
			em{
				display: block;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				border:1px solid #B4B4B4;
				margin:40px auto;
				cursor:pointer;
				.small{
					width: 10px;
					height: 10px;
					display:inline-block;
					*display: inline-block;
					*zoom:1;
					background: #f5a623;
					margin:3px;
					border:none;
				}
				.dn{display: none;}
			}
		}
		p{
			font-size: 18px;
			color:#444;
			text-align:center;
			line-height: 50px;
			span{
				font-size: 28px;
				color:#f5a623;
			}
		}
		.buy-pay{
			width:1000px;
			text-align: center;
			margin:100px auto;
			label{
				display: inline-block;
				font-size: 18px;
				color:#444;
				margin-right: 50px;
			}
			input{
				margin-right:30px;
			}
			img{
				display: inline-block;
				*display: inline-block;
				*zoom:1;
				margin:-30px 30px 0 0;
				vertical-align:-20px;
			}
			span{
				display: block;
				font-size: 18px;
				color:#444;
				text-align: center;
				margin:60px 0 30px 0;
			}
			.big{
				display: block;
				margin:0 auto;
			}
			p{
				width: 120px;
				margin:20px auto;
				background: url(../images_mdh/icon/wechat-1.png) no-repeat left center;
				padding-left:46px;
				font-size: @font;
				color:#828282;
				line-height: 20px;
			}
			button{
				width: 200px;
				height: 45px;
				margin:40px auto;
				font-size: 18px;
				color:#fff;
				letter-spacing: 20px;
				background: #444;
			}
		}
	}
	.pop{
		width: 400px;
		height: 140px;
		margin:0 auto;
		border:1px solid #D9D9D9;
		h5{
			height: 40px;
			text-indent:-9999px;
			background: #444 url(../images_mdh/icon/pop.png) no-repeat center center; 
		}
		p{
			font-size:16px;
			color:#727171;
			line-height: 100px;
			text-align:center; 
		}
	}
}
/* 购物车页面开始 */
/* .nav{
	.shoppingcart{
		height: 50px;
		padding-right:100px;
		position:relative;
		*margin-top:-50px;
		a{
			font-size: @font;
			line-height: 50px;
			color:#f5a623;
			padding:0 5px;
		}
		.list{
			width: 340px;
			height: 110px;
			padding:15px 15px 0 15px;
			background:#241714;
			position:absolute;
			top:50px;
			left:-130px;
			p{
				font-size: @font;
				color:#c8c8c8;
				line-height:40px;
				text-align:center;
			}
			button{
				display: block;
				width: 100%;
				height:60px;
				margin-top:15px;
				background: url(../images_mdh/icon/shoppingcart.png) no-repeat 60px center;
				font-size: 18px;
				color:#f5a623;
				text-align: center;
				line-height:60px;
				border-top:1px solid #c8c8c8;
			}
		}
		.list2{
			width: 340px;
			padding:15px 15px 0 15px;
			background:#241714;
			position:absolute;
			top:200px;
			left:-130px;
			.warp{
				border:1px solid #ccc;
				margin-bottom:10px;
				img{
					display: inline-block;
					*display: inline;
					*zoom:1;
					margin-right:20px;
					vertical-align:top;
				}
				p{
				display: inline-block;
				*display: inline;
				*zoom:1;
				font-size: 14px;
				color:#c8c8c8;
				span{
					border:1px solid #c8c8c8;
					margin:10px 0;
					line-height: 40px;
					padding:0 3px;
					}
				strong{
					font-weight: normal;
					margin:0 90px 0 0;
					}
				}
			}
			button{
				display: block;
				width: 100%;
				height:60px;
				margin-top:15px;
				background: url(../images_mdh/icon/shoppingcart.png) no-repeat 60px center;
				font-size: 18px;
				color:#f5a623;
				text-align: center;
				line-height:60px;
				border-top:1px solid #c8c8c8;
			}
		}
	}
} */
.shoppingcart-list{
	width: 1100px;
	margin:35px auto;
	text-align:center;
	.nav{
		font-size: 16px;
		color:#f5a623;
		padding:0 28px;
		border-left:1px solid #727171;
		border-right:1px solid #727171;
		line-height: 130px;
	}
	.last{
		border-left:none;
		text-align:left;
		color:#727171;
	}
	.caption{
			width: 1000px;
			margin:0 auto;
			table-layout:auto;
			border-collapse: collapse;
			th{
			line-height: 60px;
			font-size: 16px;
			color:#727171;
			font-weight:normal;
			input{
				width: 20px;
				height: 20px;
				margin-left:5px;
				vertical-align: -5px;
			}
		}
		.details{
				td{
					border-top:1px solid #AFAFAF;
					border-bottom:1px solid #AFAFAF;
					padding:15px 0 15px 0;
					font-size: 16px;
					color:#727171;
					img{
						margin:0 0 0 -23px;
					}
					span{
						font-size: 14px;
						color:#727171;
						cursor:pointer;
					}
				}
				.text{
					text-align: left;
					width: 250px;
					h6{
						width: 255px;
						font-size: 16px;
						color:#727171;
						margin-top:-10px;
						margin-bottom:47px;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space: nowrap;
					}
					strong{
						font-size: 14px;
						color:#727171;
						padding:0 5px;
						font-weight: normal;
						border:1px solid #A8A8A8;
					}
				}
				.bl{
					border-left:1px solid #AFAFAF;
				}
				.br{
					border-right:1px solid #AFAFAF;
					a{
						text-indent: -9999px;
						display: inline-block;
						margin-left:-40px;
						width: 19px;
						height: 22px;
						background: url(../images_mdh/icon/shoppingcart-1.png) no-repeat center center;
					}
				}
				input{
				width: 20px;
				height: 20px;
				margin-left:5px;
				vertical-align: -5px;
				}
			}
	}
	.total{
		font-size: 20px;
		color:#727171;
		letter-spacing:3px;
		margin-top:190px;
		span{
			font-size: 28px;
			color:#1e1e1e;
		}
	}
	.settlement{
		width: 255px;
		height: 45px;
		background: #444;
		margin:28px auto;
		font-size: 18px;
		color: #fff;
	}
	.pop{
		width: 400px;
		height: 140px;
		margin:0 auto;
		border:1px solid #D9D9D9;
		h5{
			height: 40px;
			text-indent:-9999px;
			background: #444 url(../images_mdh/icon/pop.png) no-repeat center center; 
		}
		p{
			font-size:16px;
			color:#727171;
			line-height: 100px; 
		}
	}
	.null-cart{
		width: 1000px;
		height: 100px;
		margin:50px auto;
		text-align:center;
		img{
			display: inline-block;
			vertical-align:middle;
		}
		p{
			display: inline-block;
			font-size: 16px;
			line-height: 30px;
			padding-left:50px;
			a{
			text-align: center;
			font-size: 16px;
			}
		}
		
	}
}

#sort {
	display: inline;
}
/* 页面加载错误 */
.lose{
	width: 250px;
	margin:150px auto;
	font-size: 16px;
	line-height: 30px;
	color:#505050;
	text-align: center;
	span{
		display:block;
		margin-top:38px;
		line-height: 30px;

	}
	a{
		color:#ae340d;
		margin-right:10px;
		line-height: 30px;
	}
}