/*
 * less.css
 */

@background: #231815;
@color: blue;
@font: 14px;
@mainWidth: 1100px;
@itemBoxColor: #505050;
@itemBoxPColor: #727171;
@inputBackground:#e6e6e6;
@inputColor:#8A8A8A;

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, input, button, fieldset, legend, img {
	margin: 0;
	padding: 0;
}
* {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 20px;
	font-weight: normal;
}
fieldset, img {
	border: none;
}

em {
	font-style: normal;
}
em {
	font-style: normal;
}
ul, ol {
	list-style: none;
}
ul li, ol li {
	border: none;
}
.fl {
	float: left;
	display: inline;
}
.fr {
	float: right;
	display: inline;
}
input,button,select,option,textarea {
	outline: none;
	resize: none;
	border:none;
}
button{
	cursor: pointer;
	font-family: "Microsoft YaHei";
}
a {
	color: #515151;
	text-decoration: none;
	border: none;
	cursor: pointer;
}
a:hover {
	color: #F1a233;
}
body {
	font-size: 14px;
	font-family: "Microsoft YaHei";
	color: #333;
}
.body-color{
	background: #e2e2e2;
}
.white {
	background-color: #fff;
	width: 100%;
}
.clearfix:after {
	content: "";
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
.clearfix {
	zoom: 1;
}
.hidden {
	visibility: hidden;
}
.visible {
	visibility: visible;
}
.dn {
	display: none;
}
.dl {
	display: block;
}
.din{
	display:inline-block;
	*display:inline;
	*zoom:1;
}

/* 头部样式开始 */
#header{ 
		width: 1100px;
		margin:0 auto;
		padding-top:65px;
}
h1{
	width: 350px;
	height: 30px;
	background:url(../images_mdh/logo.png) no-repeat center center;
	margin:0 auto;
	text-indent: -9999px;
}
.search{
	width: 475px;
	height:37px;
	margin:0 auto;
	padding-top: 35px;
}
.search form.current{
	position:fixed;
	top:8px;
	right:430px;
	z-index: 500;
}
.search input{
   width:430px;
   height: 35px;
   border:1px solid #ccc;
   outline: none;
   color:#666;
   font-size: 16px;
   line-height: 35px;
}
.search input.current{
	width: 160px;
	border:none;
	background: #f3f2f2;
}
.search button{
	width: 37px;
	height: 37px;
	background:@background url(../images_mdh/icon/search.png) no-repeat center center;
	cursor:pointer;
	vertical-align: top;
	margin-left:-5px;
}
#header .index-nav{
	width: 1100px;
	height: 50px;
	margin:57px auto 10px auto;
}
#header .nav{
	width: 1100px;
	height: 50px;
	background:@background;
	margin:57px auto 10px auto;
	position:relative;
	top:0;
	left:0;
	z-index: 5;
}
#header .nav.current{
	position: fixed;
	top:-57px;
	left:50%;
	margin-left:-550px;
	z-index: 100;
}
#header .nav ul li{
	float:left;
	margin-right: 20px;
}
#header .nav ul li a.current{
	border-bottom:3px solid #ffc800;
	color:#FFC800;
}
#header .nav ul>li>a{
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color:#a57f23;
	font-size: 16px;
	display: block;
}
#header .nav ul>li.fr{
	float:right;
}
#header .nav ul>li>a:hover{
	border-bottom:3px solid #ffc800;
	color:#FFC800;
}
#header .nav ul li .innav{
	width: 1060px;
	background: #000;
	opacity:0.8;
	filter:alpha(opacity=80);
	position:absolute;
	top:50px;
	left:0;
	z-index:1;
	padding:0 20px 20px 20px;
	display: none;
}
#header .nav ul li .innav ol li{
	float: left;
	width: 100px;
}
#header .nav ul li .innav ol li h2{
	font-size: 16px;
	color:#fff;
	line-height: 40px;
}
#header .nav ul li .innav ol li h2:hover{
	color:#FFC800;
}
#header .nav ul li .innav ol li a{
	font-size: 14px;
	color:#ccc;
	line-height: 30px;
	display: block;

}
#header .nav ul li .innav ol li a:hover{
	color:#FFC800;
}

/* 主体部分开始 */
.personal{
	width: @mainWidth;
	margin:75px auto;
	/* 个人中心页面左侧导航开始 */
	.personal-nav{
		width: 150px;
		cursor:pointer;
		li{
			font-size: 18px;
			color:@itemBoxColor;
			line-height: 45px;
			text-align:center;
			a{
				display:block;
			}
			span{
				display: block;
			}
			.innav{
				font-size: 16px;
				padding-left:55px;
				font-weight: normal;
				text-align:left;
			}
		}
		.current{
			font-weight:bold;
			color:#f1a233;
		}
		.nav{
			background: url(../images_mdh/icon/personal-item.png) no-repeat right 20px;
		}
	}
	/* 个人信息详情开始 */
	.personal-item{
		width: 820px;
		.title{
			font-size:@font;
			color:@itemBoxPColor;
			line-height: 28px;
			span{
				color:#f1a223;
				cursor: pointer;
			}

		}
		.about{
			text-align:center;
			vertical-align: top;
			margin:25px 0 110px 0;
			p{
				font-size: @font;
				color:@itemBoxPColor;
				margin-bottom:28px;
			}
			span{
				display:inline-block;;
			}
		}
		.personal-integral{
			margin-right:70px;
			a{
				font-size: 28px;
				color:#858585;
			}
			a:hover{
				color:#f1a223;
			}
		}
		.personal-wx{
			margin-right:70px;
		}
		.personal-service{
			text-align: left;
			img{
				margin-right:13px;
			}
		}
		.banner{
			margin-bottom:40px;
			img.first{
				margin-right:15px;
			}
		}
		.personal-orde{
			.orde{
				font-size:@font;
				color:@itemBoxPColor;
				line-height: 40px;
			}
			.personal-orde-list{
				border:1px solid #bbb;
				.first{
					border-top:none;
				}
				li{
					border-top:1px solid #bbb;
					padding:14px;
					position:relative;
					img{
						margin-right:30px;
						vertical-align: top;
					}
					button{
						width: 85px;
						height: 30px;
						border:1px solid #bbb;
						font-size: 16px;
						color:@itemBoxPColor;
						text-align:center;
						line-height:30px;
						background: #fff;
						position:relative;
						top:-35px;
					}
					strong{
						position:absolute;
						top:7px;
						left:7px;
						width: 25px;
						height: 25px;
						text-align:center;
						line-height: 25px;
						border-radius: 50%;
						background:#f1a223;
						font-size:@font;
						color:#fff;
						font-weight:normal;
					}
				}
			}
		}
	}
}
.personal-orde-list li .content{
			width: 480px;
			margin-right:80px;
			h6{
				width: 480px;
				font-size: 14px;
				line-height: 20px;
				color:@itemBoxPColor;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
			}
			span{
				font-size: 12px;
				color:@itemBoxPColor;
				margin-right:35px;
				em{
					text-decoration: none;
					font-size: @font;
					color:@itemBoxPColor;
					margin-left:13px;
				}
			}
			p{	
				width: 480px;
				font-size: 12px;
				display: block;
				color:@itemBoxPColor;
				white-space:nowrap;
				overflow:hidden;
				text-overflow:ellipsis;
				margin-bottom:35px;
			}
			a{
				font-size: 12px;
				color:#804736;
			}
		}
.personal-orde-list .price{
	span{
		display: block;
		font-size: 16px;
		color:#f1a223;
		text-align: center;
		line-height: 60px;
	}
	a{
		display: block;
		font-size: 12px;
		color:#804736;
		text-align: center;
	}
}
/* 订单中心详情开始 */
.personal-item .order-title{
	font-size:@font;
	color:@itemBoxPColor;
	text-align:center;
	margin-bottom:65px;
	a{
		font-size: @font;
		color:#ae340d;
		text-decoration:underline;
	} 
}
.personal-item .order-search{
	margin-bottom:13px;
	input{
		width: 218px;
		height: 28px;
		border:1px solid #C1C1C1;
	}
	button{
		background: rgba(255,255,255,0);
		font-size: 14px;
		color:@itemBoxPColor;
		margin-left:25px;
	}
}
.order-list-title{
	height: 35px;
	background: #eaeaea;
	span{
		font-size: 14px;
		color:@itemBoxPColor;
		line-height: 35px;
		text-align:center;
		display: inline-block;
		*display:inline-block;
		*zoom:1; 
		width: 310px;
	}
	.price{
		width: 80px;
	}
	.number{
		width: 70px;
	}
	.place{
		width: 125px;
	}
	.money{
		width: 125px;
	}
	.state{
		width: 85px;
	}
}
.order-list{
	.message{	
		height: 40px;
		font-size: @font;
		color:@itemBoxPColor;
		line-height: 40px;
		.date{
			margin:0 14px;
		}
		strong{
			margin-left:30px;
			font-weight: normal;
		}
	}
	.List{
		border:1px solid #b5b5b5;
		padding:10px 0;
		.list-goods{
			width: 290px;
			padding:0 8px;
			height: 90px;
			img{
				vertical-align:top;
			}
			.item{
				margin-left:10px;
				width: 185px;
				font-size: @font;
				color:@itemBoxPColor;
				h6{
					font-size: 14px;
					color:@itemBoxPColor;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				p{
					margin-bottom:32px;
					overflow:hidden;
					text-overflow:ellipsis;
					white-space:nowrap;
					span{
						margin-right:5px;
					}
				}
				b{
					font-size: @font;
					color:@itemBoxPColor;
					font-weight: normal;
					padding:0 5px;
					border:1px solid #b5b5b5;	
				}
			}
		}
		.list-price{
			width: 88px;
			height: 90px;
			border-left:1px solid #b2b2b2;
			border-right:1px solid #b2b2b2;
			span{
				font-size: 12px;
				color:@itemBoxPColor;
				text-align:center;
				line-height: 20px;
			}
		}
		.list-number{
			width:70px; 
			height: 90px;
			span{
				font-size: 12px;
				color:@itemBoxPColor;
				text-align:center;
				line-height: 20px;
			}
		}
		.list-place{
			width: 113px;
			height: 90px;
			border-left:1px solid #b2b2b2;
			border-right:1px solid #b2b2b2;
			padding-left: 15px;
			p{
				font-size: 12px;
				color:@itemBoxPColor;
				line-height: 20px;	
			}
			span{
				font-size: 12px;
				color:@itemBoxPColor;
				line-height: 20px;
			}
			a{
				font-size: 12px;
				color:#804736;
				line-height: 20px;
			}
		}
		.list-money{
			width: 115px;
			height: 90px;
			padding-left:15px;
			p{
				font-size:16px;
				color:#f1a223;
				text-align:left;
				line-height: 20px;
			}
			span{
				font-size: 12px;
				color:@itemBoxPColor;
				line-height: 20px;
				text-align:left;
			}
			strong{
				font-size: 12px;
				color:@itemBoxPColor;
				font-weight: normal;
				line-height: 20px;
				text-align:left;
			}
			em{
				font-size: 12px;
				color:@itemBoxPColor;
				text-decoration:none;
				text-align:left;
				line-height: 20px;
			}
		}
		.list-state{
			width: 73px;
			height: 90px;
			border-left:1px solid #b2b2b2;
			padding-left: 15px;
			text-align:left;
			span{
				width: 55px;
				font-size: 12px;
				color:@itemBoxPColor;
				border:1px solid #b2b2b2;
				text-align:center;
				margin:5px 0 15px 0;
			}
			a{
				font-size: 12px;
				color:#804736;
				line-height: 20px;
			}
		}
	}
}
/* 订单状态开始 */
.personal-state{
	.personal-state-title{
		font-size: @font;
		color:#808080;
		margin-top:70px;
	}
	.personal-state-plan{
		margin-top:35px;
		.one,.two,.threen,.four{
			width:140px;
			margin-left:-41px;
		}
		.one{
			margin-left:0;
		}
		.plan{
			.current{
				background: url(../images_mdh/icon/personal-state-plan2.png) no-repeat center center;
			}
			strong{
				display:block;
				width: 40px;
				height:40px;
				margin:0 auto;
				background: url(../images_mdh/icon/personal-state-plan1.png) no-repeat center center;
				font-size:20px;
				color:#fff;
				text-align:center;
				line-height: 40px;
				font-weight:normal;				
			}
			p{
				font-size: 14px;
				color:#808080;
				line-height:47px;
				text-align:center;
			}
			.time{
				font-size: 14px;
				color:#808080;
				text-align:center;
				em{
					text-decoration:none;
					margin-left:6px;
				}
			}
		}
		.next{
			width: 160px;
			height:13px;
			background: url(../images_mdh/icon/personal-state.png) no-repeat center center;
			vertical-align: 390%;
			margin-left:-45px;		
		}
	}
}
/* 订单状态信息 */
.personal-state-message{
		font-size: @font;
		color:#808080;
		line-height: 25px;
		margin-top:48px;
		p{
			display: inline-block;
		}
		.track{
			p{
				display: block;
				b{
					font-weight: normal;
				}
				strong{
					font-weight:normal;
					margin:0 5px;
				}
				i{
					font-style: normal;
				}
			}
		}
	}
/* 退货开始 */
.personal-return{
	.personal-state-title{
		font-size: @font;
		color:#808080;
		margin-top:70px;
	}
	.personal-state-plan{
		margin-top:35px;
		position:relative;
		.one,.two,.threen,.four{
			width:140px;
			margin-left:-38px;
		}
		.one{
			margin-left:0;
		}
		.plan{
			.current{
				background: url(../images_mdh/icon/personal-state-plan2.png) no-repeat center center;
			}
			strong{
				display:block;
				width: 40px;
				height:40px;
				margin:0 auto;
				background: url(../images_mdh/icon/personal-state-plan1.png) no-repeat center center;
				font-size:20px;
				color:#fff;
				text-align:center;
				line-height: 40px;
				font-weight:normal;				
			}
			p{
				font-size: 14px;
				color:#808080;
				line-height:47px;
				text-align:center;
			}
			.time{
				font-size: 14px;
				color:#808080;
				text-align:center;
				em{
					text-decoration:none;
					margin-left:6px;
				}
			}
		}
		.next{
			width: 100px;
			height:13px;
			background: url(../images_mdh/icon/personal-state.png) no-repeat right center;
			vertical-align:390%;
			margin-left:-45px;		
		}
		a{
			position:absolute;
			top:120px;
			right:35px;
			font-size: 12px;
			color:#808080;
			padding:0 5px;
			border:1px solid #aaa;
		}
	}
	.message{
		line-height: 25px;
		margin-top:48px;
		font-size: @font;
		color:#808080;
		p{
			display: inline-block;
			a{
				color:#804736;
				font-size:12px;
				margin-left:13px;
			}
		}
	}
}
/* 换货/维修开始 */
.personal-exchange{
	.personal-state-title{
		font-size: @font;
		color:#808080;
		margin-top:70px;
	}
	.personal-state-plan{
		margin-top:35px;
		position:relative;
		.one,.two,.threen,.four{
			width:140px;
			margin-left:-38px;
		}
		.one{
			margin-left:0;
		}
		.plan{
			.current{
				background: url(../images_mdh/icon/personal-state-plan2.png) no-repeat center center;
			}
			strong{
				display:block;
				width: 40px;
				height:40px;
				margin:0 auto;
				background: url(../images_mdh/icon/personal-state-plan1.png) no-repeat center center;
				font-size:20px;
				color:#fff;
				text-align:center;
				line-height: 40px;
				font-weight:normal;				
			}
			p{
				font-size: 14px;
				color:#808080;
				line-height:47px;
				text-align:center;
			}
			.time{
				font-size: 14px;
				color:#808080;
				text-align:center;
				em{
					text-decoration:none;
					margin-left:6px;
				}
			}
		}
		.next{
			width: 100px;
			height:13px;
			background: url(../images_mdh/icon/personal-state.png) no-repeat right center;
			vertical-align: 390%;
			margin-left:-45px;		
		}
		a{
			position:absolute;
			top:120px;
			right:35px;
			font-size: 12px;
			color:#808080;
			padding:0 5px;
			border:1px solid #aaa;
		}
	}
	/* 换货/维修信息开始 */
	.message{
		line-height: 25px;
		margin-top:48px;
		font-size: @font;
		color:#808080;
		p{
			display: inline-block;
			a{
				color:#804736;
				font-size:12px;
				margin-left:13px;
			}
		}
	}
}
/* 订单基础信息开始 */
.personal-information{
	font-size: @font;
	color:#808080;
	line-height: 35px;
	h5{
		font-size: @font;
		color:#808080;
		margin:55px 0;
		line-height: 0;
	}
	strong{
		font-weight:normal;
	}
	p{
		display:inline-block;
	}
	.item{
		font-size: @font;
		color:#808080;
		line-height: 35px;
		margin-bottom:110px;
		p{
			display:block;
			em{
				text-decoration: none;
				margin-left:46px;
			}
			b{
				font-weight:normal;
			}
		}
	}
	.order-item{
	border:1px solid #afafaf;
	border-top:none;
	padding:10px;
	li{
		float:left;
		font-size: 12px;
		color:#808080;
		img{
			vertical-align: top;
			margin-right:28px;
		}
		p{
			display:block;
			line-height:15px;
		}
		span{
			line-height:0; 
		}
		strong,b{
			font-weight: normal;
		}
		em{
			text-decoration: none;
		}
	}
	.goods{
		margin-right:130px;
		div{
			text-align:center;
		}
		h6{
			font-size: @font;
			line-height:30px;
			span{
				margin:0 5px;
			}
		}
		.number{
			span{
				color:@itemBoxPColor;
				padding:0 5px;
				border:1px solid #afafaf;
			}
		}
		.pirce{
			margin:0 35px;
		}
	}
	.money{
		.pay{
			span{
				font-size:@font;
				color:#808080;
			}
			strong{
				font-size: 18px;
				color:#f1a223;
			}
		}
	}
}
.bt{
	border-top:1px solid #afafaf;
}
}
/* 安全中心开始 */
.personal-security{
	width:820px;
	.password{
		margin-left:112px;
		input{
			width: 270px;
			height:45px;
			line-height: 45px;
			font-size: @font;
			color:#808080;
			background: #f1f1f1;
			padding-left:15px;
		}
		label{
			height: 40px;
			display: block;
			font-size: @font;
			color:#ae340d;
			line-height: 40px;
			padding-left:27px;
		}
	}
	.confirm{
		width: 285px;
		height: 45px;
		font-size:18px;
		color:#444;
		margin-left:112px;
		background:#f1a223;
		margin-bottom:183px;
	}
	.phone{
		width: 430px;
		label{
			width: 88px;
			padding-right:24px;
			text-align:right;
			font-size:@font;
			color:#808080;
			margin-top:15px;
			line-height: 45px;
		}
		input{
			width: 270px;
			height: 45px;
			line-height: 45px;
			font-size:@font;
			color:#808080;
			background: #f1f1f1;
			padding-left:15px;
			margin-top:15px;
		}
		select{
			width: 285px;
			height: 45px;
			font-size:@font;
			color:#808080;
			background: #f1f1f1;
			padding-left:15px;
			margin-top:15px;
		}
		.mobileNumber{
			background: #fff;
		}
		.mobileCode{
			width: 168px;
			margin-left:4px;
		}
		.codeButton{
			width: 85px;
			height: 45px;
			background: #c4c4c4;
			font-size:@font;
			color:#808080;
			display:block;
			margin:15px 0 0 15px;
		}
		.send{
			line-height: 18px;
			margin-left:15px;
			font-size:12px;
			color:#444;
			width: 85px;
			text-align:center;
		}
	}
	.newCode{
		margin-bottom:37px;
	}
	.sub{
		letter-spacing: 25px;
		text-align:center;
	}

}
/* 收货地址开始 */
.personal-address{
	width: 820px;
	h5{
		font-size: 18px;
		color:#444;
		margin-bottom:23px;
	}
	li{
		width: 235px;
		height: 236px;
		border:1px solid #AFAFAF;
		padding:0 13px;
		margin-right:10px;
		.information{
			font-size: 14px;
			color:#808080;
			line-height: 45px;
			border-bottom:1px solid #afafaf;
			span{
				padding-left:20px;
				background: url(../images_mdh/icon/personal-address2.png) no-repeat left center;
			}
		}
		strong{
			padding-left:25px;
			font-size: @font;
			color:#808080;
			line-height:45px;
			font-weight: normal;
			background: url(../images_mdh/icon/personal-address1.png) no-repeat left center;
		}
		.address{
			font-size: @font;
			color:#808080;
			b{
				margin-right:10px;
				font-weight: normal;
			}
		}
		.about{
			margin-top:45px;
			.default{
				font-size: @font;
				color:#ae340d;
				line-height: 60px;
			}
			.editor{
				color:#808080;
				line-height: 60px;
				margin-left:55px;
			}
			.last{
				text-indent:-9999px;
				line-height: 60px;
				margin-right:10px;
				background: url(../images_mdh/icon/buy-delete.png) no-repeat center center;
			}
		}
		button{
			display: block;
			margin:0 auto;
			font-size: 18px;
			line-height: 236px;
			color:#929292;
			padding-left:30px;
			background: url(../images_mdh/icon/buy.png) no-repeat left center ;
		}
	}
}
/* 新增收货地址开始 */
.add{
	padding-top:70px;
	font-size: @font;
	color:#808080;
	h6{
		font-size: 18px;
		color:#505050;
		margin:45px 0;
	}
	label{
		width: 80px;
		line-height: 45px;
		padding-right:15px;
		text-align:right;
	}
	input{
		width: 272px;
		height: 45px;
		line-height: 45px;
		font-size: @font;
		color:#808080;
		background: #e2e2e2;
		margin-top:22px;
		padding-left:15px;
	}
	select{
		width: 137px;
		height: 45px;
		line-height:45px;
		background: #e2e2e2;
		margin-top:22px;
		padding-left:15px;
		margin-right:10px;
		font-size: @font;
		color:#808080;
	}
	.dist{
		margin-right:0;
	}
	span{
		color:#ae340d;
		line-height: 50px;
		padding-left:25px;
		margin-left:15px;
		background: url(../images_mdh/icon/falsh.png) no-repeat left center;
	}
	button{
		width: 203px;
		height: 45px;
		font-size: 18px;
		color:#444;
		background: #f1a223;
		margin:30px 0 0 84px;
		letter-spacing: 10px;
		text-align:center;
	}
}
/* 收藏列表开始 */
.personal-collect{
	width:820px;
	li{
		margin-right: 20px;
		position:relative;
		.top{
			position:absolute;
			top:0;
			left:0;
			width: 220px;
			height: 190px;
			padding:50px 20px 20px 20px;
			display: none;
			.intop{
				position:absolute;
				background: #000;
				opacity:0.6;
				filter:alpha(opacity=60);
				top:0;
				left:0;
				width: 260px;
				height:260px;
				z-index:0;
			}
			h3{
				font-size: 18px;
				color:#fff;
				text-align: center;
				padding-top: 38px;
				line-height: 40px;
				z-index: 5;
				position: relative;
			}
			p{
				font-size: 14px;
				line-height: 20px;
				color:#fff;
				z-index: 5;
				position:relative;
			}
			.collect{
				position:absolute;
				bottom:20px;
				right:20px;
				width: 80px;
				z-index: 5;
				button {
					margin: 0px;
					display: inline-block;
					width: 30px;
					height: 30px;
					background: #fff url(../images_mdh/icon/index-top.png) no-repeat center center;
				}
				button.last{
					background: #fff url(../images_mdh/icon/top2.png) no-repeat center center;
					margin-left: 5px;
				}
			}
		}
		p{
			font-size: 14px;
			color:#727171;
			line-height: 50px;
			padding-left: 5px;
			span{
				font-size: 18px;
				background: url(../images_mdh/icon/personal-collect.png) no-repeat right center;
				color:#e58e29;
				float:right;
				padding-right: 25px;
				margin-right:10px;
			}
		}
	}
}

/* 底部开始 */
#footer{
	width: 100%;
}
#footer .features{
	width: 1100px;
	margin:0 auto;
	margin-bottom:50px;
	border-bottom:1px solid #DDDDDD;
}
#footer .features li{
	float: left;
	margin:50px 20px;
}
#footer .features li a{
	font-size: 18px;
	color:#454545;
	padding:0 70px 0 80px;
	line-height: 73px;
	display: block;
	height: 73px;
	border-right:1px solid #DDDDDD;
	background:url(../images_mdh/icon/foot1.png) no-repeat 20px center;
}
#footer .features li a.two{
	background: url(../images_mdh/icon/foot2.png) no-repeat 20px center;
}
#footer .features li a.three{
	background: url(../images_mdh/icon/foot3.png) no-repeat 20px center;
}
#footer .features li a.fore{
	background: url(../images_mdh/icon/foot4.png) no-repeat 20px center;
	border-right:none;
}
#footer ol{
	width: 1100px;
	margin:0 auto;
}
#footer ol li{
	float: left;
	line-height: 40px;
	color:#505050;
	margin:0 55px;
}
#footer ol li.last{
	margin-right:0;
	height: 100%;
	margin-top:40px;
}
#footer ol li h4{
	font-size: 14px;
}
#footer ol li a{
	font-size: 12px;
	display: block;
	color:#505050;
	line-height:25px;
}
#footer .copy{
	width: 100%;
	background: #000;
	height: 65px;
	margin-top: 80px;
}
#footer .copy p{
	width: 1020px;
	margin:0 auto;
	font-size: 12px;
	line-height: 65px;
	color:#B2B2B2;
	padding:0 40px;
}
#footer .copy p span{
	float: right;
	text-align:center;
}
#footer .copy p span a{
	background: url(../images_mdh/icon/copy1.png) no-repeat center center;
	width: 34px;
	height: 65px;
	display:inline-block;
	margin:0 20px 0 0;
}
#footer .copy p span a.last{
	background: url(../images_mdh/icon/copy2.png) no-repeat center center;
}
/* 窗口固定区域开始 */
.fix{
	width: 46px;
	height: 230px;
	position:fixed;
	top:50%;
	right:0;
	margin-top: -115px;
	z-index:9999;
}
.fix li {
  position: relative;
  display: block;
  left: 0;
  top: 0px;
}
.fix a.ico {
	background: #000;
	display: block;
	position: relative;
	z-index: 9999999;
}
.fix a.ico i{
	width: 46px;
	height: 45px;
	display: block;
	border-bottom:1px solid #666;
	background: url(../images_mdh/icon/fix1.png) no-repeat center center;
	cursor:pointer;
	z-index: 9999;
}
.fix a.two i{
	background: url(../images_mdh/icon/fix2.png) no-repeat center center;
}
.fix a.three i{
	background: url(../images_mdh/icon/fix3.png) no-repeat center center;
}
.fix a.fore i{
	background: url(../images_mdh/icon/fix4.png) no-repeat center center;
}
.fix a.five i{
	width: 46px;
	height: 45px;
	background: url(../images_mdh/icon/fix5.png) no-repeat center center;
	border-bottom:none;
}
.fix a.two span {
	position: absolute;
	color: red;
	top: 75px;
	right: 0;
	font-size: 14px;
}
.shopping-list{
	width: 200px;
	height: 100%;
	padding:30px 46px 0 15px;
	background:#e6e6e6;
	position:fixed;
	top:0;
	right: 80px;
	z-index: 99999;
	visibility: hidden;
	border-left: 1px solid #231815;
	p{
		font-size: @font;
		color:#666;
		line-height: 100%;
		text-align:center;
	}
	a {
		width: 100%;
		height:60px;
		position:absolute;
		bottom:30px;
		right:0;
		cursor:pointer;
		margin-top:15px;
		font-size: 18px;
		color:#f5a623;
		text-align: center;
		line-height:60px;
		border-top:1px solid #c8c8c8;
		background: #231815;
		i{
			width: 26px;
			height: 22px;
			background: url(../images_mdh/icon/shoppingcart.png) no-repeat;
			display: inline-block;
			vertical-align: middle;
			padding-right: 10px;
		}
	}
	a.no {
		background: #666;
	}
}
.shopping-list2{
	width: 246px;
	height: 100%;
	padding:15px 46px 0 0px;
	position:fixed;
	top:0px;
	z-index: 5;
	right: -246px;
	visibility: hidden;
	background:#e6e6e6;
	border-left: 1px solid #231815;
	.warp{
		background: #F3F3F3;
		margin-bottom:10px;
		position:relative;
		img{
			margin-right:40px;
			vertical-align:top;
		}
		span{
			width: 20px;
			height: 20px;
			margin-top:20px;
			border:1px solid #ccc;
			cursor: pointer;
			text-align: center;
			line-height: 18px;
			font-size:18px;
			color:#666;
		}
		strong{
			width: 20px;
			line-height: 60px;
			text-align: center;
			color:#666;
			font-weight: normal;

		}
		p{
			font-weight: 16px;
			color:#666;
			line-height: 60px;
			margin-right:20px;
		}
		b{
			position:absolute;
			top:0;
			right:10px;
			font-weight:normal;
			font-size:14px;
			cursor: pointer;
			color:#666;
		}
	}
	a{
		width: 100%;
		height:60px;
		position:absolute;
		bottom:15px;
		right:0;
		cursor:pointer;
		margin-top:15px;
		font-size: 18px;
		color:#f5a623;
		text-align: center;
		line-height:60px;
		border-top:1px solid #c8c8c8;
		background: #231815;
		i{
			width: 26px;
			height: 22px;
			background: url(../images_mdh/icon/shoppingcart.png) no-repeat;
			display: inline-block;
			vertical-align: middle;
			padding-right: 10px;
		}
	}
}
.fix .infix{
	  height: 38px;
    line-height: 38px;
    width: 120px;
    position: absolute;
    z-index: 2;
    right: 80px;
    top: 0;
    background: #444851;
    color: #d8d8d8;
    text-align: center;
    display: block;
    visibility: hidden;
}
.fix .tell{
	width: 120px;
	height: 45px;
	position:absolute;
	top: 0px;
	right: 80px;
	z-index:5;
	font-size:16px;
	background: @background;
	color:#ffc900;
	text-align: center;
	line-height: 45px;
	visibility: hidden;
}
.fix .images{
	width: 200px;
	height: 195px;
	padding-top:5px;
	background: @background;
	position:absolute;
	top: 0px;
	right: 80px;
	z-index:53;
	text-align: center;
	visibility: hidden;
	z-index: 5;
}
.fix .infix a{
	display: inline-block;
	width: 60px;
	height: 45px;
	background: @background;
	line-height: 45px;
	font-size: 16px;
	color:#ffc900;
	text-align: center;
	float: left;
	z-index:5;
}
.fix .logged{
	width: 180px;
	background: @background;
	position:absolute;
	top:0;
	right: 180px;
	z-index: 5;
	visibility: hidden;
	h6{
		height: 30px;
		line-height: 30px;
		font-size:16px;
		color:#ffc900;
		text-align: center;
		border-bottom:1px solid #ccc;
	}
	.logged-news{
		display: block;
		line-height: 30px;
		text-align: center;
		color:#f8f8f8;
	}
	span{
		display: block;
		line-height: 30px;
		font-size:15px;
		letter-spacing: 5px;
		color:#f8f8f8;
		cursor: pointer;
		text-align: center;
		border-top:1px solid #ccc;
	}
}
